.home h2 {
  text-align: center;
  font-family: 'Croissant One', cursive;
  font-size: 36px;
  font-style: oblique;
  font-weight: 300;
}

.app-description {

  margin-left: auto;
  margin-right: auto;
  padding: 0 6em;

  background: white;
  border-bottom: 2px solid rgba(0, 0, 255, 0.4);
}

.landing-descrip {
  font-size: 22px;
  display: block;
  padding: 10px;
}

.landing-descrip-inner {
  font-size: 18px;
  display: block;
  padding: 10px;
}

.landing-page-adieu {
  font-family: 'Croissant One', cursive;
  font-size: 24px;
  font-style: oblique;
  font-weight: 300;
  display: block;
  padding: 10px;
}

.register-link {
  text-align: center;
  left: 50%;
  padding: 20px;
}

.register-link a {
  /* margin: auto; */
  text-decoration: none;
  color: inherit;
  position: relative;
  left: 3.5em;
  bottom: 60px;
  background-color: rgb(230, 230, 230);
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 9px;
  padding-left: 12px;
  padding-right: 12px;
}

@media (max-width: 759px){
  .home h2 {
    font-size: 24px;
  }

  .landing-descrip {
    font-size: 16px;
  }

  .landing-descrip-inner {
    display: none;
  }

  .landing-page-adieu {
    display: none;
  }
}

