.home h2 {
  text-align: center;
  font-family: 'Croissant One', cursive;
  font-size: 36px;
  font-style: oblique;
  font-weight: 300;
}

.app-description {
  background: white;
  /* color: white; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 75%;
  padding: 10px;
  border: 2px solid blue;
  border-radius: 3px;
}

.landing-descrip {
  font-size: 22px;
  display: block;
  padding: 10px;
}

.landing-descrip-inner {
  font-size: 18px;
  display: block;
  padding: 10px;
}

.landing-page-adieu {
  font-family: 'Croissant One', cursive;
  font-size: 24px;
  font-style: oblique;
  font-weight: 300;
  display: block;
  padding: 10px;
}

.register-link {
  text-align: center;
  left: 50%;
  padding: 20px;
}

.register-link a {
  /* margin: auto; */
  position: relative;
  left: 3.5em;
  bottom: 70px;
  background-color: rgb(230, 230, 230);
  border-radius: 3px;
  font-size: 16px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 12px;
  padding-right: 12px;
}

@media (max-width: 759px){
  .home h2 {
    font-size: 24px;
  }

  .landing-descrip {
    font-size: 16px;
  }

  .landing-descrip-inner {
    display: none;
  }

  .landing-page-adieu {
    display: none;
  }
}

