.login-container {
  background: whitesmoke;
  border-bottom: 2px solid rgba(0, 0, 255, 0.4);
}

.login-span {
  font-size: 15px;
  font-style: italic;
  /* color: white; */
}

.login-form {
  padding: 10px;
  /* color: white; */
}

form button {
  position: relative;
  width: 80px;
  height:40px;
  top: 10px;
  right: 3.5em;
  background-color: rgb(230, 230, 230);
  border-radius: 3px;
  font-size: 16px;
}

label {
  font-weight: 800;
}

.form-error {
  font-size: 14px;
  font-style: italic;
  color: red;
}