.login-link {
  text-align: center;
  padding: 10px;
}

.login-link a {
  /* margin: auto; */
  position: relative;
  bottom: 2.8em;
  color: rgba(0, 0, 255, 1);
  font-size: 20px;
}

.registration-message {
  font-size: 15px;
  font-style: italic;
}