.session-feedback {
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px #ddaaaa;
    padding-top: 140px;
    padding-bottom: 120px;
    background: rgba(16, 52, 226, 0.8);
    color: white;
  }

.session-feedback-next {
      margin-top: 20px;
}

@media (max-width: 759px){
  .session-feedback {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}